<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Build</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style/build.css" />
    <script>
        function buildPage(build) {
            /* clear build */
            // ERROR doesn't update total price!
            var table = document.querySelector('tbody'),
                totalPrice = 0;
            table.innerHTML = '';

            /* recreate build */
            build.forEach(item => {
                totalPrice += item.price
                table.insertAdjacentHTML('beforeend', 
                `<td>
                    <a href='' >${item.itemtypename}</a>
                </td>
                <td>
                    ${item.name}
                </td>
                <td>
                    <button class="button btn-warning" id="${item.itemid}">Remove</button>
                </td>
                <td>
                    $${item.price}
                </td>`);
            });
        }

        async function removeItemFromBuild(itemTypeName, itemId) {
            console.log('removing item with id', itemId);
            // TODO is there a better way to get the buildId?
            var buildId = window.location.href.split('/')[window.location.href.split('/').length - 1];
            //TODO we also need to know the itemTypeName / itemTypeId.....
            var res = await fetch(`/builds/${buildId}`, {
                method: 'DELETE'
            });
            var build = await res.json();
            
            buildPage(build);
        }
        
        async function clearBuild() {
            // WARNING this is a bad way to get the buildId
            var buildId = window.location.href.split('/')[window.location.href.split('/').length - 1];

            var res = await fetch(`/builds/${buildId}`, {
                method: 'DELETE'
            });
            var build = await res.json();
            console.log('Got Build:', JSON.stringify(build))
            buildPage(build);
        }

        document.addEventListener('DOMContentLoaded', () => {
            /* add event listener for clear build buton */
            document.getElementById('deleteBuild').addEventListener('click', clearBuild);

            /* add event listener for remove item buttons */
            [...document.querySelectorAll('tbody .button')].forEach((button) => {
                button.addEventListener('click', () => {
                    removeItemFromBuild(button.dataset.itemTypeName, button.id);
                });
            })
        });
    </script>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class='flex-wrapper space-between'>
                <h1>My Build</h1>
                <button class='button btn-warning' id="deleteBuild">Clear Build</button>
            </div>

            <% if (message.text != '') { %>
            <div class="message <%= message.type %>">
                <p>
                    <%= message.text %>
                </p>
            </div>
            <% } %>
                
            <table>
                <thead>
                    <tr>
                        <th>Component Type</th>
                        <th>Name</th>
                        <th></th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach((item) => { %>
                        <tr>
                            <td>
                                <a href="/items/<%= item.itemtypeid %>"><%= item.itemtypename.charAt(0).toUpperCase() + item.itemtypename.slice(1); %></a>
                            </td>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <button class="button btn-warning" id="<%= item.itemid %>" data-itemTypeName="<%= item.itemtypename %>">Remove</button>
                            </td>
                            <td>$
                                <%= item.price %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <th>Total:</th>
                        <td>$
                            <%= totalPrice %>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>