<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Build</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style/build.css" />
    <script>
        async function removeItemFromBuild(itemId) {
            //TODO fetch to DELETE item from build
            console.log('removing item with id', itemId);
            var buildId = window.location.href.split('/')[window.location.href.split('/').length - 1];

            var res = await fetch(`/builds/${buildId}/${itemId}`, {
                method: 'DELETE'
            });
            var build = await res.json();
            console.log('build:', build);

            /* clear build */
            var table = document.querySelector('tbody');
            table.innerHTML = '';

            /* recreate build */
            build.forEach(item => {
                table.insertAdjacentHTML('beforeend', 
                `<td>
                    <a href='' >${item.itemTypeName}</a>
                </td>
                <td>
                    ${item.itemName}
                </td>
                <td>
                    <button class="button btn-warning" id="${item.itemId}">Remove</button>
                </td>
                <td>
                    ${item.itemPrice}
                </td>`);
            })

        }

        document.addEventListener('DOMContentLoaded', () => {
            [...document.querySelectorAll('tbody .button')].forEach((button) => {
                button.addEventListener('click', () => {
                    removeItemFromBuild(button.id);
                });
            })
        });
    </script>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class='flex-wrapper space-between'>
                <h1>My Build</h1>
                <button class='button btn-warning' id="deleteBuild">Clear Build</button>
            </div>

            <% if (message.text != '') { %>
            <div class="message <%= message.type %>">
                <p>
                    <%= message.text %>
                </p>
            </div>
            <% } %>
                
            <table>
                <thead>
                    <tr>
                        <th>Component Type</th>
                        <th>Name</th>
                        <th></th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach((item) => { %>
                        <tr>
                            <td>
                                <a href="/items/<%= item.itemTypeId %>"><%= item.itemTypeName %></a>
                            </td>
                            <td>
                                <%= item.itemName %>
                            </td>
                            <td>
                                <button class="button btn-warning" id="<%= item.itemId %>">Remove</button>
                            </td>
                            <td>$
                                <%= item.itemPrice %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <th>Total:</th>
                        <td>$
                            <%= totalPrice %>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>