<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="style/home.css" />
</head>

<body>
    <%- include('../partials/header', {loggedIn: loggedIn}); %>
        <main>
            <div class='main-banner'></div>
            <div id="about">
                <h1>Landing Message</h1>
                <p>This is a super cool &amp; important message all about this website, computers, tacos, and other nerdy stuff.
                    Yay! (Just kidding about the 🌮's... Sorry...)</p>
            </div>

            <% if (message.text != '') { %>
            <div class="message <%= message.type %>">
                <p>
                    <%= message.text %>
                </p>
            </div>
            <% } %>

            <div id="parts" class="flex-wrapper">
                <% itemTypes.forEach((item) => { %>
                    <a class='button button-lg' href='./items/<%= item.itemtypeid %>'><%= item.itemtypename.charAt(0).toUpperCase() + item.itemtypename.slice(1) %></a>
                <% }) %>
            </div>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>