<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= itemTypeName %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style/browse.css" />
    <script>
        function addItemToBuild(itemId) {
            console.log('add item called with id:', itemId);
        }
        
        async function removeItemFromBuild(itemId) {
            //TODO fetch to DELETE item from build
            console.log('removing item with id', itemId);
            var buildId = window.location.href.split('/')[window.location.href.split('/').length - 1];

            var res = await fetch(`/builds/${buildId}/${itemId}`, {
                method: 'DELETE'
            });
            var build = await res.json();
            console.log('build:', build);

            /* clear build */
            var table = document.querySelector('tbody');
            table.innerHTML = '';
            build.forEach(item => {
                table.insertAdjacentHTML('beforeend', 
                `<td>
                    ${item.itemTypeName}
                </td>
                <td>
                    ${item.itemName}
                </td>
                <td>
                    <button class="button btn-warning" id="${item.itemId}">Remove</button>
                </td>
                <td>
                    ${item.itemPrice}
                </td>`);
            })

        }

        /* add appropriate event listeners to add/ remove item from build */
        document.addEventListener('DOMContentLoaded', () => {
            [...document.querySelectorAll('.item-container .button')].forEach(ele => {
                if ([...ele.classList].includes('btn-warning')) {
                    ele.addEventListener('click', () => {
                        removeItemFromBuild(ele.id);
                    })
                } else {
                    ele.addEventListener('click', () => {
                        addItemToBuild(ele.id);
                    })
                }
            });
        })
    </script>
</head>

<body>
    <%- include('./header'); %>
        <main>
            <h1>
                <%= itemTypeName %>
            </h1>
            <!-- TODO display a message -->
            <div id='itemList' class='flex-wrapper space-around'>
                <!-- TODO build list of items -->
                <% items.forEach(item => { %>
                    <div class='item-container' class='flex-wrapper space-around'>
                        <img src='<%= item.itemImagePath %>'>
                        <h4>
                            <%= item.itemName %>
                        </h4>
                        <p class='price'>$
                            <%= item.itemPrice %>
                        </p>
                        <p>
                            <%= item.itemDescription %>
                        </p>
                        <div>
                            <% if (item.isActive === true) {%>
                                <button class="button btn-warning" id='<%= item.itemId %>'>Remove from Build</button>
                            <% } else { %>
                                <button class="button" id='<%= item.itemId %>'>Add to Build</button>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </main>
        <%- include('./footer'); %>
</body>

</html>