<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= itemtypename.charAt(0).toUpperCase() + itemtypename.slice(1); %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style/browse.css" />
    <script>
        function toggleItem(ele) {
            ele.classList.toggle('btn-warning');
        }

        async function addItemToBuild(itemTypeName, ele) {
            var itemId = ele.dataset.id
            console.log('add item called with id:', itemId);
            // TODO get buildID
            var buildId = 3; // TESTING

            var res = await fetch(`/builds/${buildId}/${itemTypeName}/${itemId}`, {
                method: 'PUT',
            });
            var build = await res.json();

            [...document.querySelectorAll('#itemList .btn-warning')].forEach(button => {
                button.classList.toggle('btn-warning');
                button.innerHTML = "Add To Build"
            });

            ele.classList.toggle('btn-warning');
            ele.innerHTML = "Remove from Build";
        }
        
        async function removeItemFromBuild(itemTypeName, ele) {
            // TODO get buildID
            var buildId = 3; // TESTING

            /* Send delete request */
            var res = await fetch(`/builds/${buildId}/${itemTypeName}`, {
                method: 'DELETE',
            });
            var build = await res.json();
            
            ele.classList.toggle('btn-warning');
            ele.innerHTML = "Add to Build";
        }

        document.addEventListener('DOMContentLoaded', () => {
            const itemTypeName = document.getElementById('itemTypeName').innerHTML;
            [...document.querySelectorAll('.item-container .button')].forEach(ele => {
                /* add appropriate event listeners to add/ remove item from build */
                if ([...ele.classList].includes('btn-warning')) {
                    ele.addEventListener('click', () => {
                        removeItemFromBuild(itemTypeName, ele);
                    })
                } else {
                    ele.addEventListener('click', () => {
                        addItemToBuild(itemTypeName, ele);
                    })
                }
            });
        })
    </script>
</head>

<body>
    <%- include('../partials/header'); %>
        <main>
            <h1>
                <%= itemtypename.charAt(0).toUpperCase() + itemtypename.slice(1); %>
            </h1>
            
            <% if (message.text != '') { %>
            <div class="message <%= message.type %>">
                <p>
                    <%= message.text %>
                </p>
            </div>
            <% } %>
            <div class="invisible" id='itemTypeName'><%= itemtypename %></div>
            <div id='itemList' class='flex-wrapper space-around'>
                <% items.forEach(item => { %>
                    <div class='item-container' id='<%= item.itemid %>' class='flex-wrapper space-around'>
                        <img src='/<%= item.imagelocation %>'>
                        <h4>
                            <%= item.name %>
                        </h4>
                        <p class='price'>$
                            <%= item.price %>
                        </p>
                        <p>
                            <%= item.description %>
                        </p>
                        <div>
                            <% if (item.isActive === true) {%>
                                <button class="button btn-warning" data-id="<%= item.itemid %>">Remove from Build</button>
                            <% } else { %>
                                <button class="button" data-id="<%= item.itemid %>">Add to Build</button>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </main>
        <%- include('../partials/footer'); %>
</body>

</html>