<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= itemTypeName %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style/browse.css" />
    <script>
        function buildPage(items) {

        }

        function addItemToBuild(itemId) {
            //TODO how to get itemTypeId/ itemTypeName?
            console.log('add item called with id:', itemId);
            var res = await fetch(`/builds/${buildId}/${itemId}`, {
                method: 'PUT',
                // TODO add params to body!
                // body: {
                    
                // }
            });
            var build = await res.json();
            console.log(build);
        }
        
        async function removeItemFromBuild(itemId) {
            // TODO use the session on the server side!!?
            var buildId = window.location.href.split('/')[window.location.href.split('/').length - 1];

            /* Send delete request */
            var res = await fetch(`/builds/${buildId}/${itemId}`, {
                method: 'DELETE',
                // TODO add params to body!
                // body: {
                    
                // }
            });
            var build = await res.json();
            console.log(build);
        }

        document.addEventListener('DOMContentLoaded', () => {
            [...document.querySelectorAll('.item-container .button')].forEach(ele => {
                /* add appropriate event listeners to add/ remove item from build */
                if ([...ele.classList].includes('btn-warning')) {
                    ele.addEventListener('click', () => {
                        removeItemFromBuild(ele.dataset.id);
                    })
                } else {
                    ele.addEventListener('click', () => {
                        addItemToBuild(ele.dataset.id);
                    })
                }
            });
        })
    </script>
</head>

<body>
    <%- include('../partials/header'); %>
        <main>
            <h1>
                <%= itemTypeName %>
            </h1>
            
            <% if (message.text != '') { %>
            <div class="message <%= message.type %>">
                <p>
                    <%= message.text %>
                </p>
            </div>
            <% } %>

            <div id='itemList' class='flex-wrapper space-around'>
                <!-- TODO build list of items -->
                <% items.forEach(item => { %>
                    <div class='item-container' id='<%= item.itemId %>' class='flex-wrapper space-around'>
                        <img src='<%= item.itemImagePath %>'>
                        <h4>
                            <%= item.itemName %>
                        </h4>
                        <p class='price'>$
                            <%= item.itemPrice %>
                        </p>
                        <p>
                            <%= item.itemDescription %>
                        </p>
                        <div>
                            <% if (item.isActive === true) {%>
                                <button class="button btn-warning" data-id="<%= item.itemId %>">Remove from Build</button>
                            <% } else { %>
                                <button class="button" data-id="<%= item.itemId %>">Add to Build</button>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </main>
        <%- include('../partials/footer'); %>
</body>

</html>